{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Select Category</h2>
    <div class="container-fluid">
        <div class="row">
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="All">
                <input class="btn btn-primary m-2" type="submit" value="All">
            </form>
            {% for i in categories %}
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="category" value="{{ i }}">
                    <input class="btn btn-primary m-2" type="submit" value="{{ i }}">
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}
